*.avi
*.config
*.directory
*.gif
*.idea
*.kate-swp
*.log
*.mbtree
*.mjpg
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.o
*.out
*.png
*.project
*.pyc
*.pydevproject
*.pyo
*.s
*.settings
*.so
*.tvz
*.vob
*.vol
*.vpn
*.webm
*~
